.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space);
    min-width: 100%;
    max-width: 100%;

}
.searchForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    gap: var(--space);
    min-width: 600px;
    max-width: 800px;
}
.searchInput {
    width: 70%;
    padding: var(--s-space);
    border: none;
    outline: none;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    font-size: 1rem;
}
.searchBtn{
    width: 20%;
    padding: var(--s-space);
    border: none;
    outline: none;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
}
.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);
    justify-content: flex-start;
    align-items: center;
    margin: 1rem auto;
    max-width: 90%;
    gap: 10px;

    /* border: 5px solid green; */

}