.movieCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: var(--space);
	width: 300px;
	height: 350px;
	border-radius: var(--border-radius);
	background-color: #fff;
	box-shadow: var(--shadow);
    margin: var(--space);
	gap: 1px;
}
.moviePoster {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: var(--border-radius);
	position: relative;
	overflow: hidden;
}
.moviePoster img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
}
.favoriteBtn {
	position: absolute;
    top: 2%;
    right: 2%;
    background-color: inherit;
    border: none;
	outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-size: 1.25rem;
    z-index: 1;
}
.movieInfo {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
